@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=SUSE:wght@100..800&display=swap');
body{
    overflow-x: hidden;
    background-image: linear-gradient(to right, rgba(199, 199, 199, 0.212) 0 0), url(https://istefan.ro/img/hero/web-developer-newsletter-coder-stefan-iordache.jpg);
    
}
button{ /*Esse css é pra resetar todos os estilos do botão*/
    color: white;
    font-family: "SUSE";
    text-decoration: none;
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    font-size: 120%;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}
header{
   padding-top: 1.5%;
   background-color: #121212e5;
   display: flex;
   justify-content: left;
   z-index: 1;
}
header h1{
    color: white;
    font-family: "SUSE";
    display: flex;
    border-bottom: solid #885efd;
    margin-top: -1%;
    align-self: center;
    margin-left: 10%;
}
header span{
    color: #885efd;
}
header a{
    text-decoration: none;
    text-align: none;
    color: white;
    font-family: "SUSE";
    font-size: 120%;
}
.Menu{
    display: flex;
    margin-left: 0.5%;
    align-self: center;
    padding-left: 10%;
    flex-direction: row;
    display: inline-block;
    transition: 0.3s;
}
.Menu:hover{
    color: #885efd;
    transition: 0.3s;
}
#menuBox{
    display: flex;
    flex-direction: row;
     width: 60%;
     height: auto;
     margin-left: 68%;
     margin-right: 1%;

}
/*
#contentMenu{
    background-color: white;
    width: 10%;
    height: 50px;
    margin-left: 85%;
    z-index: 50112312;
    transition: 0.3s;
    
}*/

main{
    display: flex;
    justify-content: center;
}
#slogan{
    width: 35%;
    font-family: "SUSE";
    background-color: rgb(248, 248, 235);
    border-radius: 0.8rem;
    text-align: center;
    font-size: 150%;
    text-shadow: 1px 0.4px 1px black;
    margin-left: 32.5%;
}
#slogan span{
    color: #885efd;
    text-decoration: underline;
}
main{
    width: 90%;
    height: 60%;
    align-self: center;
    margin-left: 5%;
 }
main a{
    margin-top: 10%;
    color: rgb(248, 248, 235);
    background-color: #7354c9f5;
    text-decoration: none;
    font-family: "SUSE";
    padding: 1.5%;
    border-radius: 0.8rem;
    box-shadow:  0.3em 0.3em white;
    font-size: 150%;
    transition: 0.3s
}
main a:hover{
    background-color: #6b4bc5;
    transition: 0.3s;
}
